<div class="navbar navbar-fixed-top" style='font-weight:bold'>
    <div class="navbar-inner">
        <div class="container">
            <a class="brand " href="#/">
                ISHA
            </a>
            <ul class="nav nav-pills">
                <li ng-class="{active:$state.includes('enum')}"><a ui-sref="enum.area">Enumeration</a></li>
                <li ng-class="{active:$state.includes('hc')}"><a ui-sref="hc.area">Household Questionnaire</a></li>
                <!--<li ui-sref-active="resamp"><a ui-sref="resamp.area">Resampling</a></li>-->
                <!--<li ui-sref-active="report"><a href="#/report/11">Reports</a></li>-->
                <!--<li access-level="accessLevels.manager" ui-sref-active="dashboard">
                    <a ui-sref="dashboard">Dashboard</a>
                </li>-->
                <!--<li ng-class=""><a href="" ng-click="AppCtrl.cleanup()">Cleanup</a></li>-->
            </ul>

            <ul class='nav pull-right'>
                <!--<li ui-sref-active="sync"><a ui-sref="sync"><i class='icon-refresh'></i> Synchronize</a></li>-->
                <li class=''><a href='' ng-click='NavCtrl.logout()'><i class='icon-off'></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>